@font-face {
    font-family: "gotham-ssm";
    src: url(../font/GothamSSm-Book_Web.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "gotham-ssm";
    src: url(../font/GothamSSm-Medium_Web.woff2);
    font-weight: 500;
}



